<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span>Project</span> {{project.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{project.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{project.description}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{project.active}}</span>
                </dd>
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{project.startDate}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{project.createdDate}}</span>
                </dd>
                <dt><span>Updated Date</span></dt>
                <dd>
                    <span>{{project.updatedDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{project.endDate}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{project.createdBy}}</span>
                </dd>
                <dt><span>Updated By</span></dt>
                <dd>
                    <span>{{project.updatedBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
